<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
 <link rel="stylesheet" href="{% static 'catalog/main.css' %}">
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Главная</a>
    </li>
  </ul>
    <h2>В проекте имеется реализация API и приложение на React</h2>
  {% block content %}
  {% endblock %}
</div>
</body>
</html>